<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google</title>
     <link rel="icon" type="image/ico" href="../static/img/icon.png">
     <link rel="stylesheet" href="../static/css/style_bg.css">
</head>
<body>
    <div id="navigation">
        <a class="Gmail" href="https://www.google.com/intl/nl/gmail/about/#" > Gmail</a>
        <a class="Afbeelding" href="https://www.google.be/imghp?hl=nl&tab=wi0&ogbl" > Afbeelding</a>
        <a class="app" href="https://about.google/intl/nl/products/?tab=rh" ><img src="../static/img/app-icon.png" WIDTH="20" HEIGHT="20" alt = "app" /> </a>
        <a class="inloggen" href="https://accounts.google.com/ServiceLogin/signinchooser?hl=nl&passive=true&continue=https%3A%2F%2Fwww.google.be%2F&flowName=GlifWebSignIn&flowEntry=ServiceLogin" >  Inloggen  </a>

    </div>

    <div  id="center" >
        <img id = "logo" src="../static/img/logo-google.png">
        <div id = "ring">
            <img src="../static/img/zoek-icon.png" WIDTH="30" HEIGHT="30" alt = "zoek" >
            <div class = "input"><input></div>
            <img src="../static/img/mic-icon.png" WIDTH="30" HEIGHT="30" alt = "speak" >
        </div>

        <div class="button">
            <button type="button">Google zoeken</button>
            <button type="button">Ik doe een gok</button>
        </div>


        <div class = "offered"><p>Google aangeboden in:  </> <a class="talen" href="http://localhost:63342/smartninja/Chapter3/index.html?_ijt=rus1t2rc7njpe5lulc534o2jc9" >  Français  </a>
            <a class="talen" href="http://localhost:63342/smartninja/Chapter3/index.html?_ijt=rus1t2rc7njpe5lulc534o2jc9" >  Deutsch  </a><a class="talen" href="http://localhost:63342/smartninja/Chapter3/index.html?_ijt=rus1t2rc7njpe5lulc534o2jc9">  English  </a></p>
        </div>

    </div>
    <div id="bottum" style="display: inline-block">


        <a class="prefL" href="https://ads.google.com/intl/nl_be/home/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1" > Adverteren</a>
        <a class="prefL" href="https://www.google.be/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1#?modal_active=none" > Bedrijf</a>
        <a class="prefL" href="https://about.google/intl/nl_be/?utm_source=google-BE&utm_medium=referral&utm_campaign=hp-footer&fg=1" > Over</a>
        <a class="prefL" href="https://www.google.com/search/howsearchworks/?fg=1" > Hoe Google Zoeken werkt</a>
        <a class="prefR" href="https://www.google.be/preferences?hl=nl-BE&fg=1" > Instellingen</a>
        <a class="prefR" href="https://policies.google.com/terms?fg=1" > Voorwaarden</a>
        <a class="prefR" href="https://policies.google.com/privacy?fg=1" > Privacy</a>
    </div>


</body>
</html>